<!DOCTYPE html>
<html>

<head>
    <%- include("partials/head") %>
</head>

<body>
    <%- include("partials/header") %>

    <main id="main-content" class="d-flex flex-column align-items-center justify-content-center flex-fill text-light">
        <img src="/img/logo-DH.png" alt="">
        <h1 class="title mt-5"><%= tagline %></h1>
    </main>

    <%- include("partials/footer")  %>
</body>

</html>